%div(id='nav')
  %ul
    - if logged_in?
      %li= link_to 'Create Mission', new_mission_path
      %li= link_to 'All Missions', missions_path
      %li= link_to 'Sign Out', signout_path
    - else
      %li= link_to 'Sign Up', signup_path
      %li= link_to 'Sign In', signin_path