.nested-fields
  .field
    = f.label :location
    %br
    = f.select(:location, options_for_select([['SF', 'SF'],                                        ['East Bay', 'East Bay'],
                                              ['rooted', 'rooted']]))
    %br
    = f.label :question
    %br
    =  f.text_area :question, :rows => 2, :cols => 100
    %br
    = f.label(:response_success, "Response on Success")
    %br
    = f.text_area :response_success, :rows => 2, :cols => 100
    %br
    = f.label(:response_failure, "Response on Failure")
    %br
    = f.text_area :response_failure, :rows => 2, :cols => 100
    %br
    %h4 Answers
    #answers
    = f.label(:any_answer_acceptable, "Any Answer Acceptable")
    %br
    = f.check_box :any_answer_acceptable
    %br
    = f.fields_for :answers do |answer|
      = render 'answer_fields', :f => answer
    .links
      = link_to_add_association 'add answer', f, :answers
    %br
  = link_to_remove_association "remove challenge", f